.post-container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.post-header {
  font-size: 15px;
  margin: 10px 0;
}
.profile-thumbnail {
  height: 40px;
  width: auto;
  border-radius: 30px;
  margin-right: 10px;
}
.main-image {
  width: 500px;
  height: auto;
}
.like-icon {
  margin: 10px;
  font-size: 20px;
}
